<%- include('./partials/header') %>
<div class="container">
    
    <div class="row">
        <div class="col-md-4">
            <h1 class="text-center index-h1">Who is Abbey Blue?</h1>
            <img src="images/Screenshot 2023-09-24 at 10.47.12 AM.png" alt="" class="img-fluid mb-2">
            <p class="sub">A patch of blue in a cloud-filled sky is often hard to see. A shooting star in sorrow's night can take an eternity. <br><sub>— Abbey November 1998</sub></p>
            <hr class="mt-5">
        </div>
        <div class="col-md-8 p-div">
            <p>Abbey and I met in an online Trauma Healing group. As the two Christians in the group, we talked privately on a regular basis. We both wrote poetry and quickly started sharing our silenced words with one another; too shy to share our words in ‘real-life.’</p>
            <p>The forum became a safe place to heal by listening and sharing. To peek out from underneath the heavy layer of shame that trauma keeps a person buried under. Abbey wrote heartfelt poems and I heard her sorrow across Cyber Space. At the end of every conversation we had, she encouraged me to hug my kids. </p>
            <p>We stayed connected for a year or so. My fight was with past trauma, but her trauma was happening in real-time. She never told me her last name for fear that I would turn her situation to the authorities. At times, I wondered if Abbey was catfishing because the stories she told were outrageous and full of unbelievable trauma. I struggled to believe so much could happen to one person in such a short life. Her poetry told me I was wrong. No one writes that kind of pain without knowing it firsthand.</p>
            <p>Abbey’s last share with me was that she was pregnant and the baby’s father could potentially be her own father. As I normally did, I begged her to get help. She said she was in therapy but it wasn’t working. And that she couldn’t fight anymore. I begged her to not give up. To will herself to live. She said she would but the next email I received from her was from her best friend telling me that Abbey had written one last letter to me before she took her own life.</p>
            <p>The letter was one of gratitude for our connection. It was also a letter asking me to ‘help others understand.’ How do I help others understand when it all felt so impossible to me? </p>
            <p>So, I boxed up her poems, her letter, her photograph … and shelved her in the highest part of my closet. </p>
            <p>Over the years, I’d hear her whispers deep within my soul. As I searched and fought for my own healing, I shared what I discovered along the way with others. I began writing here and there. I shared a blog and whenever I wrote, I thought of her. </p>
            <p>When I finally wrote a memoir focused on healing from past sexual trauma, it was recommended that I use a pen name for legal purposes. I couldn’t think of a more appropriate name than Abbey. </p>
            <p>The M. stands for me, Michele.</p>
            <p>The legacy of the last name comes from the heartfelt poem that she gave to me one day when I was feeling alone. Her words filled me with hope and a distinct understanding of the power of word truth.</p>
            <p>A Patch of Blue</p>
            <p>What I’d like to help others understand is this. </p>
            <p>Shame has the power to break us; Hope has the power to heal us. </p>
            <p>Abbey M. Blue represents the many Unheard Voices of Trauma. </p>
            <p>Abbey M. Blue speaks for the unborn baby & the mom who chose to leave this earth in search of unspeakable peace. </p>
            <p>She represents your unspoken pain, whatever the trauma. And, anyone else searching for their voice. She also represents those of us who are here to listen.</p>
            <p>Together, in truth, perhaps we will find our own beautiful patches of blue. </p>
        </div>
    </div>
    <hr>
        <div class="contact-div">
            <h3 class="contact-h3 text-center mt-5">Contact</h3>
            <h4 class="text-center">Patches of Blue</h4>
            <h4 class="text-center">Email: goaneplaces@gmail.com</h4>
            <div class="text-center mt-5 mb-5">
                <a href="https://www.amazon.com/inJustice-Abbey-M-Blue/dp/1973602903" target="_blank" class="btn btn-success">Purchase Here</a>
            </div>
        </div>
    <hr>
</div>

<%- include('./partials/footer') %>