<%- include('./partials/header') %>
<h1 class="text-center">inJustice - The Book</h1>
<main class="text-center mx-auto">
    <p class="fst-italic">Written by Michele Goane under the penname Abbey Blue</p>
    <p>She had no idea the journey she was about to take as she held the thirty-year-old jury list in her hands. It was only by a miracle that she had what she wanted - the opportunity to ask 'why'.</p>
    <p>"Why that verdict?"</p>
    <p>The verdict of NOT GUILTY for them and GUILTY for her - even though she was the victim.</p>
    <p class="mb-4">This story will take Abigail back to her hometown of Little Mountain, Kentucky, where her innocence was once lost and a rape trial was held thirty years ago. Travel with Abigail on her quest to answer hard questions as she finds her way back home after the passage of three decades. You will laugh, cry, and share Abigail's own frustration as she shares her experience of living in justice amid life's injustices.</p>
    <button href="https://www.amazon.com/inJustice-Abbey-M-Blue/dp/1973602903" class="btn btn-success mt-4 mb-4">Purchase Here</button>
    <br>
    <img src="images/Screenshot 2023-09-23 at 11.02.42 PM.png" class="img-fluid mt-4 mb-5 book-img" alt="...">
</main>
<%- include('./partials/footer') %>