* {
  box-sizing: border-box;
}

body {
  margin: 3vmin;
}

.logo-img {
  height: 20vmin;
  width: 30vmin;
}

main {
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  line-height: 5vmin;
  font-size: 2.75vmin;
}

.index-h1 {
  font-family: 'Playfair Display', serif;
  font-size: 7.5vmin;
  margin-top: 10vmin;
  margin-bottom: 15vmin;
}

.navbar-brand img {
  max-height: 15vmin
}

.btn-success {
  border-radius: 2px;
  background-color: rgb(7, 0, 0);
  height: 8vmin;
  width: 20vmin;
  font-size: 2vmin;
}

.btn-success:hover {
  background-color: rgba(7, 0, 0, 0.8);
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 5vmin;
  font-size: 2.75vmin;
  padding-left: 7vmin;
  margin-top: 5vmin;
}

.book-img {
  height: 70vmin;
  width: 70vmin;
}

.sub {
  margin-left: -5vmin;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.95);
}

footer {
  font-size: 1.5vmin;
  margin-left: 15vmin;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center
}

.contact-div {
  font-family: 'Playfair Display', serif;
}

.contact-h3 {
  font-size: 7.5vmin;
  margin-bottom: 5vmin;
}